# Questa
work/
*_work/
transcript
modelsim.ini
vsim.wlf
*.wlf
*.vstf

# Vivado
.Xil/
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.xpr
vivado*.jou
vivado*.log

# Generated simulation and memory files
results/
*.vcd

# Editor/OS
.vscode/
Thumbs.db
Desktop.ini
